.content{
  flex: auto;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px; /* Ajusta el ancho máximo del contenido */
  width: 100%;       /* Permite que el contenedor sea responsivo */
  padding: 20px;     /* Espaciado interno */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional, agrega un efecto visual */
  background-color: var(--mat-background, #121212); /* Usa el color de fondo del tema */
  border-radius: 8px;     /* Bordes redondeados */
}
